// page: 设置
@charset "utf-8";
@import "../variable";
@import '../icon';

.privacy_cont {
    .title_min {
        font-size: 16px;
        color: #333;

        .addCom {
            float: right;
            font-size: 14px;

            &:hover {
                color: $color_main;

                i {
                    @include sprite($add_05);
                }
            }

            i {
                @include sprite($add_03);
            }
        }
    }

    .main_box {
        font-size: 14px;
        color: #333;
        line-height: 36px;
        margin-bottom: 10px;
    }

    @at-root.public_box {
        .public_content {
            padding: 15px $padding_left_right;

            .items {
                span {}
                .col_1{
                    display: inline-block;
                    width:29%;
                }
                .el-switch {
                    position: relative;
                    top: 6px;
                    float: right;
                }
            }
        }
    }

    @at-root.hidden_com_box {
        min-height: 286px;

        .com_list {
            padding: 14px 40px;

            li {
                padding: 0 10px;

                &:hover {
                    background: #f2f6fc;

                    span {
                        color: $color_main;
                    }
                }

                span {
                    float: right;
                    color: #b6b6b6;
                    cursor: pointer;
                }

                p {
                    max-width: 420px;
                    @extend %text-overflow;
                }
            }
        }
    }
}

// 屏蔽企业的弹窗
.shield_modal {
    /deep/ .el-input-group__append {
        background: $color_main;
        border-color:$color_main;
        padding:0;
        >div{
            height:38px;
            padding:0 20px;
            cursor: pointer;
        }
    }

    .icon-zoom_white {
        margin-top: 8px;
    }

    // 说明文字
    .text {
        line-height: 26px;
        font-size: 14px;

        >p {
            color: #666;
            margin: 14px 0 2px;
        }

        >div {
            color: #909399;
        }
    }

    .search_result {
        line-height: 26px;
        font-size: 14px;

        >p {
            color: #666;
            margin: 14px 0 2px;
        }
        >div{
            font-size:12px;
            color:$color_red;
           &:after{
               content:"";
               display: block;
               clear: both;
           }
        }
        li {
            color: #333;

            label {
                display: flex;
                align-items:center;
                position: relative;
                padding-left: 20px;

                >i {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    @include sprite($checked_default_02);
                }

                &.checked i{
                    @include sprite($checked_ok_02)
                }
                // 已经被屏蔽
                &.hadFilter i{
                     @include sprite($checked_ok_03)
                }
                >span{
                    display: inline-block;
                    width:100%;
                    @extend %text-overflow;
                }
            }

            input {
                display: none;
            }
        }
    }
}

