// page: 简历编辑
@charset "utf-8";
@import "../variable";
@import '../icon';

$resume-padding: 30px;

.resume_cont {
  width: 970px;
  margin: 30px auto 40px;

  > div {
    min-height: 300px;
  }

  @at-root .resume_box {
    background: #fff;
    width: 700px;
    box-shadow: 0 0 10px #eef1f6;
  }
}

// @media screen and (max-width: 1250px) {
//     .resume_cont[data-page="resume"] {
//         width: 910px;

//         .resume_box {
//             width: 660px;
//         }
//     }

// }


// 简历的头部
.resume_header {
  height: 110px;
  padding: 0 $resume-padding;
  margin-bottom: 67px;
  // background: url('../../images/resume_bg.jpg') no-repeat;
  background: #2c83fb url('/public/images/preview_bg.jpg') no-repeat;
  position: relative;

  .line_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 8px 0;
    line-height: 20px;

    .handle_resume {
      display: flex;
      align-items: center;
      font-size: 12px;

      @at-root .open_setting {
        font-size: 12px;
        color: #fff;
        margin-left: 20px;
        cursor: pointer;

        &:hover {
          i {
            @include sprite($eye-03);
          }
        }

        i {
          margin-right: 6px;
        }

        a,
        i {
          @extend %middle;
        }
      }
    }

    /*   .back {
        float: left;
        font-size: 16px;

        &:hover {
            i {
                @include sprite($back_02)
            }
        }

        i,
        span {
            @extend %middle;
            margin-right: 3px;
        }
    } */

    .select_resume {
      width: 220px;
      font-size: 16px;
      // text-align: center;
      cursor: pointer;

      .el-dropdown {
        width: 100%;
        color: #fff;
      }

      .resumeName {
        white-space: nowrap;

        > span {
          max-width: 200px;
          @extend %middle;
          @extend %text-overflow;
        }

        > i {
          @extend %middle;
        }
      }
    }
  }

  .photo {
    width: 120px;
    height: 120px;
    margin: 12px auto 0;
    border: 5px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    &:hover {
      .mask {
        display: block;
      }
    }

    img {
      width: 100%;
      height: auto;
    }

    .mask {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      background: rgba(0, 0, 0, 0.5);
      cursor: pointer;

      i {
        margin-top: 42px;
      }
    }
  }

  // 编辑头像弹窗
  @at-root /deep/ .uploadImage {
    .el-dialog__body {
      padding: 25px 30px;
    }

    //上传模块
    .cropper {
      width: 300px;
      height: 300px;

      .upload-btn {
        display: table-cell;
        width: 300px;
        height: 300px;
        vertical-align: middle;
        text-align: center;
        border: 1px dashed $color_border;

        > .text {
          line-height: 24px;
          font-size: 12px;
          color: #666;
          margin-top: 4px;
        }
      }
    }

    //右侧 预览
    .preview-content {
      float: right;
      width: 243px;
      color: #666;
      text-align: center;
      margin-top: 10px;

      > div {

        > p {
          font-size: 14px;
          margin: 12px 0 19px;

          i,
          span {
            @extend %middle;
          }

          i {
            margin-right: 4px;
          }
        }
      }

      > ul {
        overflow: hidden;

        li {
          float: left;
          font-size: 12px;
          margin-left: 13px;

          &:first-child {
            margin-left: 0;
          }
        }
      }

      > p {
        margin-top: 15px;
        font-size: 14px;

        i {
          position: relative;
          top: 3px;
          margin-right: 4px;
        }
      }
    }

    .button_box {
      text-align: center;
      margin: 25px 0 5px;
    }
  }
}

.resume_content {
  padding: 0 $resume-padding 8px;

  @at-root /deep/ .resume_item {
    margin-bottom: 45px;

    // 基本信息
    .simple_msg {
      // padding: 0 $resume-padding;
      background: #fff;
      text-align: center;
      overflow: hidden;

      &:hover {
        > div {
          background: $color_bg_body;

          .btn_edit {
            display: block
          }
        }
      }

      > div {
        padding: 15px $resume-padding 10px;
      }

      .line_1 {
        position: relative;
        margin-bottom: 12px;

        .btn_edit {
          display: none;
          position: absolute;
          right: 0;
          color: $color_main;
          margin-top: 1px;

          i,
          span {
            @extend %middle;
          }
        }

        .user_name {
          font-size: 22px;
          color: $color_blue;

          i {
            position: relative;
            top: 2px;
          }
        }
      }

      .item {
        font-size: 14px;
        color: #666;
        margin-bottom: 10px;

        p {
          display: inline-block;
          margin: 0 10px;
        }

        i,
        span {
          @extend %middle;
        }

        i {
          margin-right: 5px;
        }
      }
    }

    // 公共标题
    .header {
      padding-right: 25px;

      > i,
      > span {
        font-size: 18px;
        color: $color_blue;
        @extend %middle;
      }

      > i {
        margin-right: 8px;
      }
    }

    // 内容
    .content {
      overflow: hidden;

      //添加模块
      .empty_module {
        margin-top: 22px;

        ul {
          overflow: hidden;

          &.disabled {
            li {
              cursor: default;
            }
          }

          li {
            float: left;
            width: 100px;
            height: 100px;
            line-height: 100px;
            font-size: 14px;
            color: #909399;
            text-align: center;
            margin-left: 30px;
            background: $color_bg_body;
            border-radius: 50%;
            position: relative;
            cursor: pointer;

            &:first-child {
              margin-left: 0;
            }

            &:hover {
              i {
                display: block;
              }
            }

            i {
              display: none;
              position: absolute;
              left: 0;
              top: 0;
            }
          }
        }
      }
    }

    // 查看模式
    .info {
      // line-height: 26px;
      font-size: 14px;
      color: #666;
      padding-top: 20px;
      // padding: 0 25px;
      // margin-top: 16px;
      position: relative;

      &.isEdit {
        background: #fff;
        padding: 30px 0 2px;
      }

      &:first-child {
        padding-top: 15px;
      }

      &.intent_info {
        padding-top: 16px;

        ul.intent_info_list {
          padding-left: 25px;

          li {
            min-height: 26px;
            padding-left: 70px;
            position: relative;

            span {
              position: absolute;
              left: 0;
              top: 0;
              color: #909399;
            }
          }
        }
      }

      &.per_evaluation-info {
        padding-top: 22px;

        &.isEdit {
          padding-top: 15px;
        }

        //个人评价
        > div {
          position: relative;
          padding-left: 74px;
          margin-left: 25px;

          > span {
            position: absolute;
            left: 0;
            top: 3px;
            color: #909399;
          }

          .keywordList {
            overflow: hidden;

            li {
              margin-right: 12px;
              margin-bottom: 10px;
            }
          }

          .text {
            line-height: 26px;
            color: #333;
          }
        }
      }

      &.skill_info {
        .skill_item {
          margin-top: 17px;
          padding: 0 25px;

          &:first-child {
            margin-top: 0;
          }

          .name {
            width: 80px;
            text-align: right;
            color: #333;
            @extend %middle;
          }

          .progress {
            width: 330px;
            margin: 0 17px 0 24px;
            @extend %middle;
          }

          .level {
            color: #909399;
            @extend %middle;
          }
        }
      }

      .border_ele {
        position: absolute;
        left: 4px;
        top: 13px;
        width: 17px;
        height: 100%;
        // overflow: hidden;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 15px;
          left: 8px;
          width: 1px;
          height: 100%;
          background: #fdeecc
        }

        /* &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 6px;
                background: #fff;
            } */
      }

      // 小项目
      @at-root /deep/ .item_min {
        // margin-bottom: 15px;
        position: relative;
        line-height: normal;
        padding: 0 25px;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 2px;
          left: 4px;
          @include sprite($dot);
        }

        .item_name {
          line-height: 23px;

          > span {
            color: #333;
          }

          .time {
            color: #909399;
          }
        }

        .item_msg {
          line-height: 23px;
          margin: 4px 0 2px;

          > div {
            color: #909399;
            overflow: hidden;

            span {
              &.margin {
                margin-left: 64px;
              }
            }
          }
        }

        .item_content {
          pre {
            color: #666;
            // max-height: 126px;
            line-height: 26px;
            // @include ellipsis(5);
            margin-top: 6px;
          }

          // 责任描述
          .ellipsis_2 {
            margin-top: 6px;
            // max-height: 48px;
            // @include ellipsis(2);
          }
        }

        .leave_reason {
          // line-height: 28px;
          color: #909399;
        }

        // 作品附件的URL
        .link_text {
          color: #333;
        }
      }
    }
  }
}

//编辑状态 --form
/deep/ .item_edit {
  background: $color_bg_body;
  padding: 20px 25px 3px 0;
  // margin: 14px 0 10px;

  &.basic_edit {
    margin-bottom: 0;

    .el-row {
      overflow: hidden;
    }
  }

  // &.intent_edit{
  //     margin:-2px 0 0;
  // }
  &.per_evaluation_edit {

    //已经选中的亮点
    .selected {
      .custom_btn_s2 {
        margin-right: 10px;

        &:hover {
          .el-tag__close {
            font-size: 16px;
            color: #fff;
          }
        }
      }

      .el-form-item__error {
        top: 10px;
      }
    }

    // 待选区
    .all_keyword_list {
      > .el-form-item__content {
        background: #fff;
        border: 1px solid #e5e5e5;
      }

      .line_1 {
        height: 40px;
        line-height: 39px;
        border-bottom: 1px solid #e5e5e5;
        padding: 0 15px;

        > i {
          float: right;
          margin-top: 14px;
          cursor: pointer;
        }

        > b {
        }

        > span {
          color: $color_main;
          margin-left: 10px;
          cursor: pointer;

          i {
            margin-right: 5px;
            vertical-align: middle;
          }
        }
      }

      .keywordList {
        padding: 10px 5px 5px 15px;
        border-bottom: 1px solid #e5e5e5;

        input {
          display: none;
        }

        .custom_btn_s2 {
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }

      // 自定义亮点
      .custom_keyword {
        height: 73px;
        padding: 15px 15px 0;

        > span {
          float: left;
        }

        .el-input {
          float: left;
          width: 174px;
          margin-left: 10px;
        }

        // 添加按钮
        .add {
          float: left;
          width: 41px;
          height: 40px;
          background: #e5e5e5;
          padding: 8px;
          cursor: pointer;

          > i {
            @include sprite($add_01);
          }

          &:hover {
            background: $color_main;

            i {
              @include sprite($add_02);
            }
          }
        }
      }
    }

  }

  // 作品附件
  &.accessory_edit {
    .upload {
      position: relative;
    }

    .btn_upload {
      position: relative;
      width: 100px;
      height: 40px;
      line-height: 38px;
      border: 1px solid $color_main;
      border-radius: 2px;
      background: #fff;
      text-align: center;
      color: $color_main;
      margin-left: 12px;
      @extend %middle;
      cursor: pointer;

      &:hover {
        background: $color_main;
        color: #fff;
      }

      input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 40px;
        opacity: 0;
        cursor: pointer;
      }
    }

    .upload_list {
      position: relative;
      max-width: 50%;
      margin-left: 16px;
      padding-right: 20px;
      @extend %text-overflow;
      @extend %middle;

      i {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        &:hover {
          color: $color_main;
        }
      }

      // 未添加附件的错误提示
      .err_msg {
        font-size: 14px;
        color: red;

        &:before {
          content: "";
          @include sprite($alert_01);
          @extend %middle;
          margin-right: 6px;
        }

        span {
          @extend %middle;
        }
      }
    }
  }

  // checkbox 的样式
  .my_checkBox {

    //该选择器不能省略
    .el-checkbox {
      width: 65px;
      line-height: 38px;
      background: #fff;
      border-radius: 0;
      margin: 0 0 3px 7px;
      text-align: center;
      padding: 0;

      &:first-child {
        margin-left: 0;
      }

      &.is-checked {
        &:after {
          content: "";
          display: block;
          position: absolute;
          right: -1px;
          bottom: -1px;
          @include sprite($right_down_corner);
        }
      }

      &.width-65 {
        width: 65px;
      }

      &.width-80 {
        width: 79px;
      }

      &.width-100 {
        width: 100px;
      }

      span {
        padding: 0;
      }

      // 多选框去掉icon
      .el-checkbox__input {
        display: none;
      }
    }
  }
}

// 技能特长 --特殊处理，后端不肯加技能id
/deep/ .skill_field {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

// 增大点击的热区
/deep/ #clickable_icon .el-icon-arrow-down {
  padding: 12px 7px;
  cursor: pointer;
}

/deep/ .cropper-view-box {
  border-radius: 50%;
}

// 上传附件
/deep/ .upload_box {
  .el-dialog__body {
    padding: 34px 0 40px;
  }

  .btn_upload {
    width: 120px;
    height: 36px;
    line-height: 34px;
    font-size: 14px;
    color: $color_main;
    text-align: center;
    border: 1px solid $color_main;
    border-radius: 18px;
    margin: 0 auto 8px;
    position: relative;

    &:hover {
      color: #fff;
      background: $color_main;
    }
  }

  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 36px;
    border-radius: 17px;
    opacity: 0;
    cursor: pointer;
  }

  p {
    font-size: 12px;
    color: #666;
    text-align: center;
  }
}

// 培训学院的广告
/deep/ .training_cont {
  line-height: 26px;
  font-size: 14px;
  color: #909399;
  margin: 8px 25px 0;

  .train_box {
    background:#f2f6fc;
    border-radius:2px;
    padding:11px 1em 4px;
    .icon-hand {
      margin-right:6px;
    }

    a {
      color: $color-main;

      &:hover {
        color: $color_blue;
      }
    }
  }

}