//  page: 简历--右侧  深选择器： /deep/
@charset "utf-8";
@import "../variable";
@import '../icon';

.right_side_cont {
    float: right;
    width: 250px;

    // @media screen and (max-width: 1250px) {
    //     width: 242px;
    // }

    .right_side_box {
        width: 250px;
        // top: 0;
        // z-index: 1;

        &.fixed {

            // position: fixed;
            @media screen and (min-width: 1217px) {
                .resume_nav_box {
                    position: fixed;
                }
            }
        }

        @at-root .resume_info {
            height: 148px;
            background: #fff;
            margin-bottom: 20px;
            @extend %shadow_four3;

            .resume_type {
                height: 36px;
                font-size: 14px;
                color: #b6b6b6;

                >span {
                    float: left;
                    width: 50%;
                    height: 32px;
                    text-align: center;
                    line-height: 32px;
                    cursor: pointer;

                    &.active {
                        height: 100%;
                        line-height: 36px;
                        color: $color_main;
                        background: #fff;
                        margin-top: -2px;

                        &.zh_cn {
                            box-shadow: 4px 0 10px $color_shadow;
                        }

                        &.en {
                            box-shadow: -4px 0 10px $color_shadow;
                        }
                    }
                }
            }

            .info {
                font-size: 14px;
                padding: 16px 25px;

                .text {
                    >a {
                        font-weight: bold;
                        color: $color_blue;

                        &:hover {
                            color: $color_main;
                        }
                    }

                    >p {
                        color: #666;
                    }
                }

                .el-progress {
                    padding: 15px 0 18px;
                }

                .refresh_time {
                    font-size: 12px;
                    color: #909399;
                }

                .table_cell {
                    display: table-cell;
                    vertical-align: middle;
                    height: 74px;
                    line-height: 24px;
                    color: #666;
                    text-align: center;

                    i {
                        margin-top: -3px;
                        vertical-align: middle;
                    }
                }
            }
        }

        @at-root .resume_nav_box {
            padding-bottom: 17px;
            background: #fff;
            margin-bottom: 20px;
            top: 0;
            width: 250px;

            // @media screen and (max-width: 1250px) {
            //     width: 242px;
            // }

            @extend %shadow_four3;

            .info {
                font-size: 14px;
                padding: 16px 25px 0;
                border-bottom: 1px solid $color_border;

                .text {
                    >a {
                        font-weight: bold;
                        color: $color_blue;
                        &:hover {
                            color: $color_main;
                        }
                    }

                    >p {
                        color: #666;
                    }
                }

                .el-progress {
                    padding: 15px 0 18px;
                }
            }

            @at-root .resume_nav_content {
                position: relative;
                padding: 7px 25px 0;

                .border_ele {
                    position: absolute;
                    left: 17px;
                    top: 22px;
                    width: 17px;
                    height: 92%;
                    overflow: hidden;

                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 8px;
                        width: 1px;
                        height: 100%;
                        background: #fdeecc
                    }
                }

                >ul {
                    padding-left: 17px;

                    li {
                        line-height: 38px;

                        &.active {
                            position: relative;

                            &:before {
                                position: absolute;
                                left: -25px;
                                top: 50%;
                                transform: translateY(-50%);
                                content: "";
                                @extend %middle;
                                @include sprite($dot)
                            }

                            >a {
                                color: $color_main;
                            }
                        }

                        >a {
                            font-size: 14px;
                            color: #909399;

                            &:hover {
                                color: $color_main;
                            }
                        }

                        >div {
                            float: right;

                            .table_cell {
                                display: table-cell;
                                vertical-align: middle;
                                height: 38px;
                                line-height: normal;
                            }

                            .text {
                                display: inline-block;
                                height: 17px;
                                line-height: 17px;
                                font-size: 12px;
                                color: #fff;
                                background: $color_red;
                                border-radius: 8px;
                                padding: 0 7px;
                            }

                            i {}
                        }
                    }

                    /*  li {
                        line-height: 38px;

                        &.active {
                            position: relative;

                            &:before {
                                position: absolute;
                                left: -25px;
                                top: 50%;
                                transform: translateY(-50%);
                                content: "";
                                @extend %middle;
                                @include sprite($dot)
                            }

                            >a>span {
                                color: $color_main;
                            }
                        }

                        >a {
                            display: block;
                            >div {
                                float: right;

                                .table_cell {
                                    display: table-cell;
                                    vertical-align: middle;
                                    height: 38px;
                                    line-height: normal;
                                }

                                span {
                                    display: inline-block;
                                    height: 17px;
                                    line-height: 17px;
                                    font-size: 12px;
                                    color: #fff;
                                    background: $color_red;
                                    border-radius: 8px;
                                    padding: 0 7px;
                                }

                                i {}
                            }

                            >span {
                                font-size: 14px;
                                color: #909399;

                                &:hover {
                                    color: $color_main;
                                }
                            }
                        }
                    } */
                }
            }
        }

        //刷新简历的弹窗
        @at-root .refresh_box {
            .text {
                line-height: 28px;
                font-size: 16px;
                color: #333;
                border-bottom: 1px solid $color_border;
                padding: 10px 0 14px;
                margin-bottom: 7px;
            }
        }
    }
}
