<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>简历导出</title>
    <style type="text/css">
        body {
          color: #333;
          font-family: "Microsoft YaHei", 微软雅黑, 宋体;
          font-size: 14px;
        }
        table {
          table-layout: fixed;
          word-break: break-strict;
          border-collapse: collapse;
        }
        div,
        pre,
        table {
          font-size: 14px;
          line-height: 20px;
        }
        th {
          font-weight: normal;
        }
        .iconfont {
          display: none;
        }
        pre {
          white-space: pre-wrap;
          white-space: -moz-pre-wrap;
          white-space: -pre-wrap;
          white-space: -o-pre-wrap;
          font-family: Microsoft YaHei,微软雅黑,宋体;
        }
        a {
          color: #666;
        }
        .pb15 {
          padding-bottom: 10px;
        }
        body {
          line-height: 22px;
          font-family: Microsoft YaHei,微软雅黑,宋体;
          background: #fff;
          font-size: 14px;
        }
        .borderb {
          border-bottom: 1px solid #e8e8e8;
        }
        .text-overflow {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .cgray {
          color: #999999;
        }
        .cblue {
          color: #57b4ea !important;
        }
        .cut {
          padding: 0 5px;
        }
        .table {
          width: 100%;
          table-layout: fixed;
          color: #666;
        }
        .top {
          background: #57b4ea;
          height: 60px;
          width: 640px;
        }
        .top table {
          height: 60px;
          width: 100%;
          table-layout: fixed;
          color: #fff;
        }
        .top table .recommend .text1 {
          display: block;
          font-size: 16px;
          color: #fff;
          border: 1px solid #fff;
          border-radius: 10px;
          padding: 0 10px;
          height: 30px;
          line-height: 28px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin-right: 10px;
          margin-left: 20px;
          cursor: pointer;
        }
        .top table .recommend .text2 {
          display: inline-block;
          color: #fff;
          text-align: right;
        }
        .deliver-info {
          width: 640px;
          height: 60px;
          background: #fff;
          color: #666;
        }
        .deliver-info table {
          height: 60px;
          width: 100%;
          table-layout: fixed;
          color: #666;
        }
        .deliver-info strong {
          font-size: 18px;
          padding-right: 10px;
        }
        .deliver-info .type {
          font-size: 16px;
          text-align: right;
        }
        .infoBlock {
          background: #fff;
        }
        .userInfo {}
        .userInfo table {
          width: 100%;
          table-layout: fixed;
          color: #666;
        }
        .userInfo .portrait {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          width: 120px;
          height: 160px;
        }
        .userInfo .info .name {
          font-size: 24px;
          color: #333333;
          margin-bottom: 10px;
        }
        .userInfo .info .lightFont {
          float: left;
          color: #57b4ea;
          padding-top: 20px;
          width: 100%;
        }
        .userInfo .info .lightFont .iconfont {
          color: #a8b1ba;
          font-size: 18px;
          margin-right: 10px;
        }
        .dashed {
          border-bottom: 1px dashed #e8e8e8;
          border-top: 0;
        }
        .infoBlock .title {
          color: #666666;
        }
        .infoBlock .title .cblue {
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 2px;
        }
        .infoBlock .title .iconfont {
          font-size: 22px;
          margin-right: 10px;
          font-weight: normal;
        }
        .infoBlock .contact {
          padding-left: 20px;
        }
        .infoBlock .infoList table {
          height: 24px;
        }
        .infoBlock .evaluate,
        .infoBlock .skills {
          padding-bottom: 20px;
        }
        .infoBlock .evaluate .tags > span {
          display: inline-block;
          color: #666666;
          text-align: center;
          border: 1px solid #a8b1ba;
          border-radius: 18px;
          padding: 5px 23px;
          margin-bottom: 10px;
          margin-right: 20px;
        }
        .infoBlock .enclosure a {
          text-decoration: underline;
        }
    </style>
  </head>
  <body>
    <table width="720" border="0" align="center" cellpadding="0">
        <tr>
          <td width="40" bgcolor="#57b4ea"></td>
          <td height="60" width="640" bgcolor="#57b4ea" class="top">
            <table border="0" cellpadding="0" cellspacing="0" width="640">
                <tr>
                  <td width="113px">
                    <a href="{{domain}}">
                      <img src="{{domain}}/public/images/logo-hr.png">
                    </a>
                  </td>
                  <td width="120px" class="recommend"></td>
                  <td class="recommend"></td>
                  <td width="175px" align="right">
                    简历编号：{{resumeViewVo.cnVo.resumeNo}}
                  </td>
                </tr>
            </table>
          </td>
          <td width="40" bgcolor="#57b4ea"></td>
        </tr>
        {# 基本信息 #}
        <tr>
          <td class="borderb"></td>
          <td height="240" class="borderb">
            <div class="userInfo">
              <table border="0" cellpadding="0" cellspacing="0" width="640">
                  <tr>
                    <td width="160">
                      {% if resumeViewVo.cnVo.basicInfoVo.photoUrl %}
                        <img class="portrait" width="120" height="160" src="{{resumeViewVo.cnVo.basicInfoVo.photoUrl}}"/>
                      {% elif resumeViewVo.cnVo.basicInfoVo.gender === 1 %}
                        <img class="portrait" src="{{domain}}/public/images/boy.jpg"/>
                      {% else %}
                        <img class="portrait" src="{{domain}}/public/images/girl.jpg"/>
                      {% endif %}
                    </td>
                    <td class="info" valign="top" style="line-height: 26px">
                      <p class="name" style="font-size: 24px;color: #333333;margin:0 0 10px;">{{resumeViewVo.cnVo.basicInfoVo.userName}}</p>
                      <table border="0" cellpadding="0" cellspacing="0" width="640" style="line-height:24px;">
                          <tr>
                            <td>
                             {{ '男' if  resumeViewVo.cnVo.basicInfoVo.gender===1 else '女'}}
                             <span class="cut">|</span>{{resumeViewVo.cnVo.age}}
                            {% if resumeViewVo.cnVo.basicInfoVo.marriageStr %}
                            <span class="cut">|</span>{{resumeViewVo.cnVo.basicInfoVo.marriageStr}}
                            {% endif %}
                            {% if resumeViewVo.cnVo.maxDegree %}
                            <span class="cut">|</span>{{resumeViewVo.cnVo.maxDegree.degreeStr}}
                            {% endif %}
                            {% if resumeViewVo.cnVo.basicInfoVo.specialityDescription %}
                            <span class="cut">|</span>{{resumeViewVo.cnVo.basicInfoVo.specialityDescription}}
                            {% endif %}
                            {% if resumeViewVo.cnVo.basicInfoVo.jobyearTypeStr %}
                            <span class="cut">|</span>{{resumeViewVo.cnVo.basicInfoVo.jobyearTypeStr}}
                            {% endif %}
                            {% if resumeViewVo.cnVo.basicInfoVo.locationStr %}
                            <span class="cut">|</span>现居{{resumeViewVo.cnVo.basicInfoVo.locationStr}}
                            {% endif %}
                            </td>
                          </tr>
                          <tr>
                            <td class="cgray">
                               {% if resumeViewVo.cnVo.basicInfoVo.stature %}
                              {{resumeViewVo.cnVo.basicInfoVo.stature}}cm<span class="cut">|</span>
                              {% endif %}
                              {% if resumeViewVo.cnVo.basicInfoVo.politicalStr %}
                              {{resumeViewVo.cnVo.basicInfoVo.politicalStr}}<span class="cut">|</span>
                              {% endif %}
                              {% if resumeViewVo.cnVo.basicInfoVo.nation %}
                              {{resumeViewVo.cnVo.basicInfoVo.nation}}族<span class="cut">|</span>
                              {% endif %}
                              {% if resumeViewVo.cnVo.basicInfoVo.hometownStr %}
                              户籍{{resumeViewVo.cnVo.basicInfoVo.hometownStr}}
                              {% endif %}
                            </td>
                          </tr>
                      </table>
                        {# 联系方式 #}
                      <table border="0" cellpadding="0" cellspacing="0" class="lightFont" style="line-height:30px;margin-top:6px;">
                          <tr>
                            <td>
                              <i class="iconfont">&#xe62f;</i>
                               {{resumeViewVo.cnVo.basicInfoVo.mobile}}
                              {% if resumeViewVo.cnVo.basicInfoVo.mobilePlace %}
                              （{{resumeViewVo.cnVo.basicInfoVo.mobilePlace}}）
                              {% endif %}
                            </td>
                             <td><i class="iconfont">&#xe60e;</i>{{resumeViewVo.cnVo.basicInfoVo.email}}</td>
                          </tr>
                          <tr>
                            {% if resumeViewVo.cnVo.basicInfoVo.qq %}
                              <td colspan="2"><i class="iconfont">&#xe652;</i>{{resumeViewVo.cnVo.basicInfoVo.qq}}</td>
                            {% endif %}
                          </tr>
                      </table>
                    </td>
                  </tr>
                
              </table>
            </div>
          </td>
          <td class="borderb"></td>
        </tr>
        {# 求职意向 #}
        <tr>
          <td></td>
          <td class="dashed">
            <div class="infoBlock basic">
              <table class="table title" border="0" cellpadding="0" cellspacing="0" width="640">
                  <tr>
                    <td height="70"><span class="cblue" style="font-size: 18px;color: #57b4ea;font-weight: bold;"><i class="iconfont">&#xe648;</i>求职意向</span></td>
                    <td align="right">{{resumeViewVo.cnVo.basicInfoVo.jobStateStr}}</td>
                  </tr>
              </table>
              <table class="contact" border="0" cellpadding="0" cellspacing="0" width="640">
                
                   <tr>
                    <td><span class="cgray">期望职位性质：</span>{{resumeViewVo.cnVo.intentInfoVo.jobTypeStr}}</td>
                  </tr>
                  <tr>
                    <td><span class="cgray">期望从事职位：</span>{{resumeViewVo.cnVo.intentInfoVo.jobNameStr}}</td>
                  </tr>
                  <tr>
                    <td><span class="cgray">期望职位薪资：</span>{{resumeViewVo.cnVo.intentInfoVo.salaryStr}}</td>
                  </tr>
                  <tr>
                    <td><span class="cgray">期望工作地点：</span>{{resumeViewVo.cnVo.intentInfoVo.jobLocationStr}}</td>
                  </tr>
                  <tr>
                    <td><span class="cgray">预计到岗时间：</span>{{resumeViewVo.cnVo.intentInfoVo.checkindateStr}}</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                
              </table>
            </div>
          </td>
          <td></td>
        </tr>
        {# 工作经历 #}
        {% if resumeViewVo.cnVo.workInfoVoList.length %}
        <tr>
          <td></td>
          <td class="dashed">
            <div class="infoBlock work">
              <table class="table title" border="0" cellpadding="0" cellspacing="0" width="640">
                <tr>
                  <td height="70">
                    <span class="cblue" style="font-size: 18px;color: #57b4ea;font-weight: bold;"><i class="iconfont">&#xe624;</i>工作经验</span>
                  </td>
                  <td align="right"></td>
                </tr>
              </table>
              <table class="contact" border="0" cellpadding="0" cellspacing="0" width="640">
                {% for workInfo in resumeViewVo.cnVo.workInfoVoList %}
                <tr>
                  <td>
                    <div class="infoList">
                      <table class="table" border="0" cellpadding="0" cellspacing="0" width="640">
                        <tr>
                          <td>
                            {{workInfo.comName}}&#12288;&#12288;&#12288;&#12288;{{workInfo.section}}
                          </td>
                          <td align="right" class="cgray">{{workInfo.begin}}~{{workInfo.end | dateEnd}}（{{workInfo.timeDiff}}）</td>
                        </tr>
                      </table>
                      <table border="0" cellpadding="0" cellspacing="0" width="640">
                        <tr>
                          <td>{{workInfo.jobName}}</td>
                        </tr>
                        <tr>
                          {# <td class="cgray pb15">行业：{{workInfo.comCallingStr}}<span class="cut">|</span>性质：{{workInfo.comTypeStr}}<span class="cut">|</span>规模：{{workInfo.comScaleStr}}</td> #}
                          <td class="cgray pb15">
                            {{['行业：'+workInfo.comCallingStr if workInfo.comCallingStr else '',
                            '性质：'+workInfo.comTypeStr if workInfo.comTypeStr else '',
                            '规模：'+workInfo.comScaleStr if workInfo.comScaleStr else '']|formatStr}}
                          </td>
                        </tr>
                        <tr>
                          <td class="pb15"><pre>{{workInfo.description}}</pre></td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </td>
          <td></td>
        </tr>
        {% endif %}
        {# 项目经验 #}
        {% if resumeViewVo.cnVo.projectInfoVoList.length %}
        <tr>
          <td></td>
          <td class="dashed">
            <div class="infoBlock experience">
              <table class="table title" border="0" cellpadding="0" cellspacing="0" width="640">
                <tr>
                  <td height="70">
                    <span class="cblue" style="font-size: 18px;color: #57b4ea;font-weight: bold;"><i class="iconfont">&#xe64d;</i>项目经历</span>
                  </td>
                  <td align="right"></td>
                </tr>
              </table>
              <table class="contact" border="0" cellpadding="0" cellspacing="0" width="640">
                {% for projectInfo in resumeViewVo.cnVo.projectInfoVoList %}
                <tr>
                  <td>
                    <div class="infoList">
                      <table class="table" border="0" cellpadding="0" cellspacing="0" width="640">
                        <tr>
                          <td>
                            {{projectInfo.projectName}}
                          </td>
                          <td align="right" class="cgray">{{projectInfo.begin}}~{{projectInfo.end | dateEnd}}（{{projectInfo.timeDiff}}）</td>
                        </tr>
                      </table>
                      <table border="0" cellpadding="0" cellspacing="0" width="640">
                        <tr>
                          <td class="cgray">项目描述：</td>
                        </tr>
                        <tr>
                          <td class="pb15"><pre>{{projectInfo.proDescribe}}</pre></td>
                        </tr>
                        <tr>
                          <td class="cgray">你的职责：</td>
                        </tr>
                        <tr>
                          <td class="pb15"><pre>{{projectInfo.dutyDescribe}}</pre></td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </td>
          <td></td>
        </tr>
        {% endif %}
        {# 教育经验 #}
        {% if resumeViewVo.cnVo.educationInfoVoList.length %}
        <tr>
          <td></td>
          <td class="dashed">
            <div class="infoBlock education">
              <table class="table title" border="0" cellpadding="0" cellspacing="0" width="640">
                <tr>
                  <td height="70">
                    <span class="cblue" style="font-size: 18px;;color: #57b4ea;font-weight: bold;"><i class="iconfont">&#xe646;</i>教育经历</span>
                  </td>
                  <td align="right"></td>
                </tr>
              </table>
              <table class="contact" border="0" cellpadding="0" cellspacing="0" width="640">
                {% for educationInfo in resumeViewVo.cnVo.educationInfoVoList %}
                <tr>
                  <td>
                    <div class="infoList">
                      <table class="table" border="0" cellpadding="0" cellspacing="0" width="640">
                        <tr>
                          <td>
                            {{educationInfo.schoolName}}
                          </td>
                          <td align="right" class="cgray">{{educationInfo.begin}}~{{educationInfo.end | dateEnd}}（{{educationInfo.timeDiff}}）</td>
                        </tr>
                      </table>
                      <table border="0" cellpadding="0" cellspacing="0" width="640">
                        <tr>
                          {# <td class="pb15">{{educationInfo.degreeStr}}<span class="cut">|</span>{{educationInfo.speciality}}</td> #}
                          <td class="pb15">{{[educationInfo.degreeStr,educationInfo.speciality] | formatStr}}</td>
                        </tr>
                        {% if educationInfo.associationActivity%}
                           <tr>
                            <td class="cgray">在校经历：</td>
                          </tr>
                          <tr>
                            <td class="pb15"><pre>{{educationInfo.associationActivity}}</pre></td>
                          </tr>
                        {% endif %}
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </td>
          <td></td>
        </tr>
        {% endif %}
        {# 培训经验 #}
        {% if resumeViewVo.cnVo.trainInfoVoList.length %}
        <tr>
          <td></td>
          <td class="dashed">
            <div class="infoBlock train">
              <table class="table title" border="0" cellpadding="0" cellspacing="0" width="640">
                <tr>
                  <td height="70">
                    <span class="cblue" style="font-size: 18px;color: #57b4ea;font-weight: bold;"><i class="iconfont">&#xe647;</i>培训经历</span>
                  </td>
                  <td align="right"></td>
                </tr>
              </table>
              <table class="contact" border="0" cellpadding="0" cellspacing="0" width="640">
                {% for trainInfo in resumeViewVo.cnVo.trainInfoVoList %}
                <tr>
                  <td>
                    <div class="infoList">
                      <table class="table" border="0" cellpadding="0" cellspacing="0" width="640">
                        <tr>
                          <td>
                            {{trainInfo.trainCourse}}
                          </td>
                          <td align="right" class="cgray">{{trainInfo.begin}}~{{trainInfo.end | dateEnd}}（{{trainInfo.timeDiff}}）</td>
                        </tr>
                      </table>
                      <table border="0" cellpadding="0" cellspacing="0" width="640">
                        <tr>
                          <td class="pb15">{{trainInfo.trainSchoolName}}</td>
                        </tr>
                        {% if trainInfo.courseDescription %}
                           <tr>
                            <td class="cgray">详细描述：</td>
                          </tr>
                          <tr>
                            <td class="pb15"><pre>{{trainInfo.courseDescription}}</pre></td>
                          </tr>
                        {% endif %}
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </td>
          <td></td>
        </tr>
        {% endif %}
        {# 技能特长 #}
        {% if resumeViewVo.cnVo.languageInfoVoList.length or resumeViewVo.cnVo.skillVoList.length%}
        <tr>
          <td></td>
          <td class="dashed">
            <div class="infoBlock skills">
              <table class="table title" border="0" cellpadding="0" cellspacing="0" width="640">
                <tr>
                  <td height="70">
                    <span class="cblue" style="font-size: 18px;color: #57b4ea;font-weight: bold;"><i class="iconfont">&#xe644;</i>技能特长</span>
                  </td>
                  <td align="right"></td>
                </tr>
              </table>
              <table class="contact" border="0" cellpadding="0" cellspacing="0" width="640">
                {% if resumeViewVo.cnVo.skillVoList.length>0 %}
                  {% for skill in resumeViewVo.cnVo.skillVoList %}
                    <tr>
                      <td>{{skill.name}}<span class="cut">|</span>{{skill.levelStr}}</td>
                    </tr>
                  {% endfor %}
                {% else %}
                  {% for languageInfo in resumeViewVo.cnVo.languageInfoVoList %}
                    <tr>
                      <td>{{languageInfo.skillStr}}<span class="cut">|</span>{{languageInfo.levelStr}}</td>
                    </tr>
                  {% endfor %}
                {% endif %}
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </table>
            </div>
          </td>
          <td></td>
        </tr>
        {% endif %}
        {# 所获证书 #}
        {% if resumeViewVo.cnVo.certificateInfoVoList.length %}
        <tr>
          <td></td>
          <td class="dashed">
            <div class="infoBlock certificate">
              <table class="table title" border="0" cellpadding="0" cellspacing="0" width="640">
                <tr>
                  <td height="70">
                    <span class="cblue" style="font-size: 18px;color: #57b4ea;font-weight: bold;"><i class="iconfont">&#xe665;</i>证书奖项</span>
                  </td>
                  <td align="right"></td>
                </tr>
              </table>
              <table class="contact" border="0" cellpadding="0" cellspacing="0" width="640">
                {% for certificateInfo in resumeViewVo.cnVo.certificateInfoVoList %}
                <tr>
                  <td>
                    <div class="infoList">
                      <table class="table" border="0" cellpadding="0" cellspacing="0" width="640">
                        <tr>
                          <td style="color:#333;">
                            {{certificateInfo.certificateName}}
                          </td>
                          <td align="right" class="cgray">{{certificateInfo.acquireDateStr}}</td>
                        </tr>
                      </table>
                      {% if certificateInfo.grade%}
                       <table border="0" cellpadding="0" cellspacing="0" width="640">
                        <tr>
                          <td class="cgray">成绩：{{certificateInfo.grade}}</td>
                        </tr>
                      </table>
                      {% endif %}
                    </div>
                  </td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                {% endfor %}
              </table>
            </div>
          </td>
          <td></td>
        </tr>
        {% endif %}
        {# 自我评价 #}
        {% if resumeViewVo.cnVo.intentInfoVo.keywords or resumeViewVo.cnVo.intentInfoVo.professionSkill %}
        <tr>
          <td></td>
          <td class="dashed">
            <div class="infoBlock evaluate">
              <table class="table title" border="0" cellpadding="0" cellspacing="0" width="640">
                <tr>
                  <td height="70">
                    <span class="cblue" style="font-size: 18px;color: #57b4ea;font-weight: bold;"><i class="iconfont">&#xe650;</i>个人评价</span>
                  </td>
                  <td align="right"></td>
                </tr>
              </table>
              <table class="contact" border="0" cellpadding="0" cellspacing="0" width="640">
                <tr>
                  <td>
                    {% if resumeViewVo.cnVo.intentInfoVo.keywords %}
                    <div class="tags">
                      {% for key in resumeViewVo.cnVo.intentInfoVo.keywords.split(',') %}
                      <span>{{key}}</span>
                      {% endfor %}
                    </div>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td>{{resumeViewVo.cnVo.intentInfoVo.professionSkill}}</td>
                </tr>
              </table>
            </div>
          </td>
          <td></td>
        </tr>
        {% endif %}
        {# 作品附件 #}
        {% if resumeViewVo.cnVo.accessoryInfoVoList.length %}
        <tr>
          <td></td>
          <td>
            <div class="infoBlock enclosure">
              <table class="table title" border="0" cellpadding="0" cellspacing="0" width="640">
                <tr>
                  <td height="70">
                    <span class="cblue" style="font-size: 18px;color: #57b4ea;font-weight: bold;"><i class="iconfont">&#xe664;</i>作品附件</span>
                  </td>
                  <td align="right"></td>
                </tr>
              </table>
              <table class="contact" border="0" cellpadding="0" cellspacing="0" width="640">
                {% for accessory in resumeViewVo.cnVo.accessoryInfoVoList %}
                <tr>
                  <td>
                    <div class="infoList">
                      <table class="table pb15" border="0" cellpadding="0" cellspacing="0" width="640">
                        <tr>
                          <td>
                            <a href="{{accessory.uploadImageUrl}}">{{accessory.uploadName}}</a>
                          </td>
                          <td align="right">
                            <a href="{{accessory.opusPath}}">{{accessory.opusPath}}</a>
                          </td>
                        </tr>
                      </table>
                      <table border="0" cellpadding="0" cellspacing="0" width="640">
                        <tr>
                          <td><pre>{{accessory.description}}</pre></td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </td>
          <td></td>
        </tr>
        {% endif %}
    </table>
  </body>
</html>