// @font-face {
//   font-family: 'iconfont';  /* project id 572815 */
//   src: url('//at.alicdn.com/t/font_572815_fim7n4u45i.eot');
//   src: url('//at.alicdn.com/t/font_572815_fim7n4u45i.eot?#iefix') format('embedded-opentype'),
//   url('//at.alicdn.com/t/font_572815_fim7n4u45i.woff') format('woff'),
//   url('//at.alicdn.com/t/font_572815_fim7n4u45i.ttf') format('truetype'),
//   url('//at.alicdn.com/t/font_572815_fim7n4u45i.svg#iconfont') format('svg');
// }
@font-face {
    font-family: 'iconfont';  /* project id 572815 */
    src: url('../../plugins/iconfont/iconfont.eot');
    src: url('../../plugins/iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../../plugins/iconfont/iconfont.woff') format('woff'),
    url('../../plugins/iconfont/iconfont.ttf') format('truetype'),
    url('../../plugins/iconfont/iconfont.svg#iconfont') format('svg');
}
%iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}