// page: 主页动态-关注企业
@charset "utf-8";
@import "variable";
@import 'icon';

.pos_list {
    margin-top: -1px; // 隐藏第一个元素的上边框

    li {
        padding: 0 $padding_left_right;

        @at-root.pos_item {
            position: relative;
            font-size: 14px;
            padding: 22px 0 22px 76px;
            border-top: 1px solid $color_border;

            .com_logo {
                position: absolute;
                left: 0;
                top: 32px;
                width: 65px;
                height: 65px;
                border: 1px solid $color_border;

                img {
                    width: 100%;
                }
            }

            .custom_btn_m {
                position: absolute;
                right: 0;
                top: 56px;
            }

            .icon-overdue {
                position: absolute;
                right: 24%;
                top: 50%;
                transform: translateY(-50%);

                @media screen and (max-width: 1250px) {
                    right: 20%;
                }
            }

            .col_0 {
                display: inline-block;
                width: 46%;
                @extend %text-overflow;
            }

            .line_1 {
                margin-bottom: 9px;

                >span {
                    float: right;
                    display: inline-block;
                    color: #909399;
                }

                >p {
                    font-size: 16px;
                    @extend %middle;

                    .pos_name {
                        max-width: 220px;
                        color: $color_blue;
                        @extend %middle;
                        @extend %text-overflow;
                    }

                    >span {
                        color: $color_main;
                        margin-left: 30px;
                        @extend %middle;
                    }
                }
            }

            .line_2 {
                max-width: 72%;
                margin-bottom: 7px;
                color: #666;
                @extend %text-overflow;
            }

            .line_3 {
                max-width: 72%;
                @extend %text-overflow;
                @extend %light_point;
            }
        }
    }
}

.no_data {
    .custom_btn_m {
        width: 150px;
        height: 36px;
        line-height: 36px;
    }
}
