// page: 主页动态-谁看过我
@charset "utf-8";
@import "variable";
@import 'icon';


.pos_list {
    margin-top: -1px;

    li {
        padding: 0 $padding_left_right;

        @at-root.pos_item {
            position: relative;
            font-size: 14px;
            padding: 22px 0 22px 76px;
            border-top: 1px solid $color_border;

            .com_logo {
                position: absolute;
                left: 0;
                top: 29px;
                width: 65px;
                height: 65px;
                border: 1px solid $color_border;

                &:before {
                    content: "";
                    position: absolute;
                    right: -4px;
                    top: 0;
                    width: 10px;
                    height: 10px;
                    background: $color_red;
                    border-radius: 50%;
                }

                &.has_see {
                    &:before {
                        content: none;
                    }
                }

                img {
                    width: 100%;
                }
            }

            .col_0 {
                display: inline-block;
                width: 56%;
                @extend %text-overflow;
            }

            .line_1 {
                .time {
                    float: right;
                    display: inline-block;
                    color: #999;
                    margin-top: 3px;
                }

                >p {
                    display: inline-block;
                    vertical-align: middle;

                    .com_name {
                        max-width: 220px;
                        font-size: 16px;
                        color: $color_blue;
                        @extend %text-overflow;
                        @extend %middle;
                    }

                    i {
                        margin-left:4px;
                        cursor:pointer;
                        @extend %middle;
                        &:hover{
                            @include sprite($eye-04)
                        }
                    }
                }

                .text {
                    display: inline-block;
                    vertical-align: middle;
                    color: #666;
                }
            }

            .line_2 {
                margin-bottom: 6px;

                span {
                    display: inline-block;
                    vertical-align: middle;
                    color: #666;
                    padding-right:10px;
                }

                .pos_name {
                    display: inline-block;
                    vertical-align: middle;
                    max-width: 160px;
                    color: $color_main;
                    margin-left: 24px;
                    @extend %text-overflow;

                    &:nth-child(2) {
                        margin-left: 0;
                    }

                    @media screen and (max-width:1250px) {
                        max-width: 150px;
                        margin-left: 6px;
                    }
                }
            }

            .line_3 {
                >p {
                    display: inline-block;
                    vertical-align: middle;

                    span {
                        display: inline-block;
                        vertical-align: middle;
                        color: #97999f;
                        margin-right: 30px;
                    }

                    i {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}








